<!-- Services Section -->
<div id="services" class="servicios">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 section-title text-center">
        <h2>Nuestros Servicios</h2>
        <hr>
        <p>Ofrecemos los mejores servicios de construcción de muebles y diseño de interiores.</p>
        </div>
        <div class="row">
        <div class="col-xs-12 col-sm-4 service"> <img src="assets/img/residential-design.jpg" class="img-responsive" alt="Titulo del proyecto">
            <h3>Diseño Residencial</h3>
            <p>Contamos con un especialista en diseños residenciales modernos, cálidos, de confort, siempre en busca de hacer que nuestros clientes se sientan comodos en su casa.</p>
        </div>
        <div class="col-xs-12 col-sm-4 service"> <img src="assets/img/office-design.jpg" class="img-responsive" alt="Titulo del proyecto">
            <h3>Diseño de oficina</h3>
            <p>Con más de 15 años diseñando mueblería de oficina, nos especializamos en el control del espacio, profesionalismo y comodidad en su área de trabajo.</p>
        </div>
        <div class="col-xs-12 col-sm-4 service"> <img src="assets/img/commercial-design.jpg" class="img-responsive" alt="Titulo del proyecto">
            <h3>Diseño Comercial</h3>
            <p>Diseñamos y realizamos muebles para espacios comerciales, como estantería, barras, cantinas, cavas, espacios de exhibición entre muchos otros.</p>
        </div>
        </div>
    </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio">
    <div class="container">
      <div class="section-title text-center center">
        <h2>Proyectos</h2>
        <hr>
        <p>Aqui puedes observar algunos de nuestros mejores proyectos de diseño.</p>
      </div>
      <div class="categories">
        <ul class="cat" id="#gallery-filter a">
          <li>
            <ol class="type">
              <li><a href="#" data-filter="*" class="active">Todos los proyectos</a></li>
              <li><a href="#" data-filter=".residencial">Residencial</a></li>
              <li><a href="#" data-filter=".oficina">Oficina</a></li>
              <li><a href="#" data-filter=".comercial">Comercial</a></li>
            </ol>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div *ngIf="!cargando" class="row">
        <div class="portfolio-items">
          
        <!-- NG FOR -->
        <div *ngFor="let portafolio of portafolios" 
        [ngClass]="portafolio.clase" class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a [href]="portafolio.img" [title]="portafolio.nombre" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>{{portafolio.nombre}}</h4>
              </div>
              <img [src]="portafolio.img" class="img-responsive" [alt]="portafolio.nombre"> </a> 
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
<!-- Products Section -->
