.products
    background-color: #FFF
    margin-top: 60px
    margin-bottom: 60px

.col-item
  border: 2px solid #FFF
  border-radius: 5px
  background: #FFF

  .photo img
    margin: 0 auto
    width: 100%

  .info
    padding: 10px
    border-radius: 0 0 5px 5px
    margin-top: 1px

  &:hover .info
    background-color: rgba(215, 215, 244, 0.5)

  .price
    /*width: 50%;
    float: left
    margin-top: 5px

    h5
      line-height: 20px
      margin: 0

.price-text-color
  color: #00990E

.col-item
  .info .rating
    color: #003399

  .rating
    /*width: 50%;
    float: left
    font-size: 17px
    text-align: right
    line-height: 52px
    margin-bottom: 10px
    height: 52px

  .separator
    border-top: 1px solid #FFF

.clear-left
  clear: left

.col-item
  .separator p
    line-height: 20px
    margin-bottom: 0
    margin-top: 10px
    text-align: center

    i
      margin-right: 5px

  .btn-add
    width: 50%
    float: left
    border-right: 1px solid #FFF

  .btn-details
    width: 50%
    float: left
    padding-left: 10px

.controls
  margin-top: 20px

[data-slide="prev"]
  margin-right: 10px