
<div class="container contenedor-productos">
    <div class="products">
        <div class="row">
            <div class="section-title text-center center">
                <h2>Productos</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
            </div>
                <!-- Controls -->
                <div class="controls float-xs-right hidden-xs">
                    <a class="left fa fa-chevron-left btn btn" href="#carousel-example"
                        data-slide="prev"></a><a class="right fa fa-chevron-right btn" href="#carousel-example"
                            data-slide="next"></a>
                </div>
            <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div id="carousel" class="item active">
                        <div class="row">
                            <div *ngFor="let producto of productosActive" class="col-sm-4 producto">
                                <div class="col-item">
                                    <div class="info">
                                        <div class="row">
                                            <h5>{{ producto.nombre }}</h5>
                                            <div class="price col-md-6">
                                                <h5 class="price-text-color">${{producto.precio}}</h5>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="photo">
                                        <img [src]="producto.img" class="img-fluid" alt="a" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div *ngFor="let producto of productos" class="col-sm-4 producto">
                                <div class="col-item">
                                    <div class="info">
                                        <div class="row">
                                            <h5>{{ producto.nombre }}</h5>
                                            <div class="price col-md-6">
                                                <h5 class="price-text-color">${{producto.precio}}</h5>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="photo">
                                        <img [src]="producto.img" class="img-fluid" alt="a" />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

