
<div class="our" id="furniture">
		<div class="container">
            
            <div class="our-top">
				<div class="col-md-7 our-left">
					<h3>Our Furniture</h3>
					<p>Curabitur volutpat turpis et metus molestie tincidunt. Morbi blandit dapibus efficitur. Fusce a efficitur massa. Donec a fermentum libero.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras condimentum euismod mollis. </p>
				</div>
				<div class="col-md-5 our-right">
					<a href="single.html"><img src="../../../../assets/images/about/o-1.jpg" alt=""></a>
				</div>
				<!-- <div class="clearfix"></div> -->
			</div>
            
            <div class="our-top">
				<div class="col-md-7 o-left">					
					<a href="single.html"><img src="../../../../assets/images/about/o-2.jpg" alt=""></a>
				</div>
				<div class="col-md-5 o-right ">
					<h3>Furniture Design</h3>
					<p>Curabitur volutpat turpis et metus molestie tincidunt. Morbi blandit dapibus efficitur. Fusce a efficitur massa. Donec a fermentum libero.</p>
				</div>
				<!-- <div class="clearfix"></div> -->
			</div>
            
            <div class="our-top">
				<div class="col-md-7 our-left">
					<h3>Special Design</h3>
					<p>Curabitur volutpat turpis et metus molestie tincidunt. Morbi blandit dapibus efficitur. Fusce a efficitur massa. Donec a fermentum libero.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras condimentum euismod mollis. </p>
				</div>
				<div class="col-md-5 our-right">
					<a href="single.html"><img src="../../../../assets/images/about/o-3.jpg" alt=""></a>
				</div>
				<!-- <div class="clearfix"></div> -->
			</div>
		</div>
	</div>