<!-- About Section -->
<div id="about">
    <div class="container">
      <div class="section-title text-center center">
        <h2>Nuestra Historia</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 text-center"> <img src="assets/img/about.jpg" class="img-responsive" alt=""> </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <h3>El estudio</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh.</p>
            <h3>Cómo trabajamos</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare.</p>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="parallaxContact view intro jarallax" 
     style="background-image: url(https://res.cloudinary.com/davicho/image/upload/v1608679117/cropped-1920-1080-260758_zq4vkt.jpg); 
     background-attachment: fixed; background-size: cover; min-height: 750px">
  <div class="full-bg-img mask rgba-pink-slight">
  </div>
</div>
