<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll imagen-cw" href="#page-top"><img src="assets/img/CWLogo.png" alt="Treviso theme logo"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">RESEGRESAR AL INICIO</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Form -->
<div class="container">
    	<div class="formulario row">
			<div class="col-md-12">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="titulo col-xs">
								<h3>Formulario de Ideas</h3>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
                        <form id="login-form" action="" method="post" role="form" style="display: block;">
                            <div class="row">
                                <div class="titulo-seccion">
                                    <p>Contacto</p>
                                </div>
                                <div class="col-lg-6">                                    
                                    <p class="etiqueta-form">Nombre</p>
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Nombre" value="">
                                    </div>
                                </div>
                                <div class="col-lg-6">                                    
                                    <p class="etiqueta-form">Correo electronico</p>
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Correo" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="titulo-seccion">
                                    <p>Haz tu idea realidad</p>
                                </div>
                                <div class="referencia col-lg-6 col-xs-12" style="text-align: center;">                                    
                                    <p class="etiqueta-form">¿Tienes alguna referencia? Envianos tu propia imagen</p>
                                </div>
                                <div class="referencia col-lg-6 col-xs-12">                                    
                                    <input class="input-file" type="file" id="exampleInputFile">
                                </div>
                            </div>

                            <div class="row cuestionario">
                                
                                <div class="titulo-seccion">
                                    <p>Cuentanos sobre tu proyecto</p>
                                </div>
                                
                                <div class="col-xs-6">
                                    <p class="etiqueta-form">¿Donde se ubicará tu mueble?</p>
                                    
                                    <div class="check-box-content">
                                        <input class="checkbox-tools" type="radio" name="tools" id="tool-1" checked>
                                        <label class="for-checkbox-tools" for="tool-1">
                                            <i class='uil uil-line-alt'></i>
                                            En mi Sala
                                        </label><!--
                                        --><input class="checkbox-tools" type="radio" name="tools" id="tool-2">
                                        <label class="for-checkbox-tools" for="tool-2">
                                            <i class='uil uil-vector-square'></i>
                                            En mi Baño
                                        </label><!--
                                        --><input class="checkbox-tools" type="radio" name="tools" id="tool-3">
                                        <label class="for-checkbox-tools" for="tool-3">
                                            <i class='uil uil-ruler'></i>
                                            En mi Cuarto
                                        </label><!--
                                        --><input class="checkbox-tools" type="radio" name="tools" id="tool-4">
                                        <label class="for-checkbox-tools" for="tool-4">
                                            <i class='uil uil-crop-alt'></i>
                                            No importa
                                        </label><!--
                                        --><input class="checkbox-tools" type="radio" name="tools" id="tool-5">
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <p class="etiqueta-form">¿Donde se ubicará tu mueble?</p>
                                    
                                    <div class="check-box-content">
                                        <input class="checkbox-tools" type="radio" name="tools2" id="tool-6" checked>
                                        <label class="for-checkbox-tools" for="tool-6">
                                            <i class='uil uil-line-alt'></i>
                                            Sala
                                        </label><!--
                                        --><input class="checkbox-tools" type="radio" name="tools2" id="tool-7">
                                        <label class="for-checkbox-tools" for="tool-7">
                                            <i class='uil uil-vector-square'></i>
                                            Baño
                                        </label><!--
                                        --><input class="checkbox-tools" type="radio" name="tools2" id="tool-8">
                                        <label class="for-checkbox-tools" for="tool-8">
                                            <i class='uil uil-ruler'></i>
                                            Cocina
                                        </label><!--
                                        --><input class="checkbox-tools" type="radio" name="tools2" id="tool-9">
                                        <label class="for-checkbox-tools" for="tool-9">
                                            <i class='uil uil-crop-alt'></i>
                                            Cuarto
                                        </label><!--
                                        --><input class="checkbox-tools" type="radio" name="tools2" id="tool-10">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                
                                <div class="titulo-seccion">
                                    <p>Específicaciones</p>
                                </div>

                                <div class="cuestionario">
                                    <p class="etiqueta-form">¿De qué color es tu mueble?</p>
                                    <input type="color">
                                </div>

                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
</div>